html {
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background: #FFE13C;
    font-family: "NotoSans-B";
    font-style: normal;
    overflow: hidden;
}

header {
    position: absolute;
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction : row-reverse;
}

#btn-help {
    background-color: #FFE13C;
    border:none;
    outline:none;
    cursor: pointer;
}

.main-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* bottom: 8vh; */
    height: 100vh;
    width: 100vw;
    z-index: 100;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}


.logo>img {
    width: 10em;
    height: 3em;
    position: relative;
    bottom: 20%;
}

.who {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-left: 15px;
    margin-right: 15px;
}

.who-dropdown {
    
    text-align: center;
    font: 1.5rem;
    width: 8rem;
    height: inherit;
    position: relative;
    z-index: 500;
}

.who-dropdown .who-menu {
    width: 8rem;
    max-height: 10rem;
    text-align: center;
    background: white;
    overflow: hidden;
    position: absolute;
}

.who-dropdown .who-menu .who-option {
    height: 1.8rem;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    padding-left: 0.5rem;
    font-size: 0.8rem;
    font-weight: 100;
}

.who-dropdown .who-menu .who-option:hover {
    height: 1.8rem;
    color: white;
    background: black;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    padding-left: 0.5rem;
    font-size: 0.8rem;
    font-weight: 100;
}

.who-dropdown .who-title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #B7A43E;
    height: 2.5rem;
    border-bottom: 1px solid black;
}

.small-arrow {
    margin-left: 2rem;
}

.pointerCursor:hover {
    cursor: pointer;
}

.hide {
    /* max-height: 0 !important; */
    display: none;
}

.how {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.how-dropdown {

    text-align: center;
    font: 1.5rem;
    width: 8rem;
    height: inherit;
    position: relative;
    z-index: 300;
}

.how-dropdown .how-menu {
    width: 8rem;
    max-height: 10rem;
    text-align: center;
    background: white;
    overflow: hidden;

    position: absolute;
}

.how-dropdown .how-menu .how-option {
    height: 1.8rem;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    position: relative;
    z-index: 300;
    padding-left: 0.5rem;
    font-size: 0.8rem;
    font-weight: 100;
}

.how-dropdown .how-menu .how-option:hover {
    height: 1.8rem;
    color: white;
    background: black;
    padding-left: 0.5rem;
    font-size: 0.8rem;
    font-weight: 100;
}

.how-dropdown .how-title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #B7A43E;
    height: 2.5rem;
    border-bottom: 1px solid black;
}



.when-dropdown {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
    /* text-align: center; */
    font: "NotoSans-B";
    width: 11rem;
}

.when-dropdown .when-title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #B7A43E;
    height: 2.5rem;
    width: 11rem;
}


.where-dropdown {
    border-bottom: 1px solid black;
    text-align: center;
    font: 1.5rem;
    width: 11rem;
    position: relative;
    z-index: 100;

}

.where-dropdown .where-title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #B7A43E;
    height: 2.5rem;
}



.btn-start {
    position: relative;
    width: 240px;
    height: 60px;
    background-color: black;
    color: white;
    border: none;
    box-shadow: none;
    outline: none;
    font: "NotoSans-R";
    font-size: 1rem;
    cursor: pointer;
    z-index: 10;
}

.blank {
    height: 1em;
    width: 1em;
}

.blank-2 {
    height: 3em;
}

.user-text {
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}

input {
    /* color: #B7A43E; */
    color: black;
    /* padding: 10px 10px 5px 5px;
    display: block; */
    border: none;
    font: "NotoSans-B";
    background-color: rgba(0,0,0,0);
    text-align: center;
    font-size: 1rem;
}

input:focus {
    outline: none;
}

.interactive {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
}

.where-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* position: relative; */
    /* top: 1.5rem; */
    /* z-index: 200; */
}

#search-result {
    position: relative;
    width: 11rem;
    font-family: "NotoSans-R";
    font-style: normal;
    font-size: 1rem;
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: 100;
    visibility: inherit;
}

#search-item-li {
    display: flex;
    align-items: center;
    width: 100%;
    height: 2rem;
    background-color: white;
    color: black;
    font-family: "NotoSans-R";
    font-style: normal;
    font-size: 1.1rem;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    cursor: pointer;
    position: relative;
    z-index: 200;
}

#search-item-li:hover {
    display: flex;
    align-items: center;
    width: 100%;
    height: 2rem;
    background-color: black;
    color: white;
    font-family: "NotoSans-R";
    font-style: normal;
    font-size: 1.1rem;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    cursor: pointer;
}

#search-item {
    display: flex;
    overflow: hidden;
    width: 100%;
}

#search-name {
    white-space: nowrap;
}

#search-latlng {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
}

#search-lat {
    font-size: 1px;
    color: white;
    overflow: hidden;
    display: none;
}

#search-lng {
    font-size: 0.001rem;
    color: white;
    overflow: hidden;
    display: none;
}

@media screen and (min-width: 320px) {
    .main {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 320px;
        margin-left: 15px;
        margin-right: 15px;
    }

    .who-how {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        z-index: 300;
    }

    .when-where {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .when {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 15px;
        margin-right: 15px;
    }

    .where {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-left: 15px;
        margin-right: 15px;
    }

}

/* 태블릿 디바이스 */
@media screen and (min-width: 481px) {
    .main {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 481px;
        margin-left: 15px;
        margin-right: 15px;
    }

    .who-how {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        height: 3.5rem;
        z-index: 300;
        top: 20%;
    }
}

/* 랩탑 및 와이드 스크린 디바이스 */
@media screen and (min-width: 1025px) {
    .main {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 1025px;
        height: 480px;
        margin-left: 15px;
        margin-right: 15px;
    }

    .who-how {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        /* height: 3.5rem; */
        z-index: 300;
        top: 20%;
    }

    .when-where {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        height: 6rem;
    }

    .when {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        margin-left: 15px;
        margin-right: 15px;
    }

    .where {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        height: 100%;
        margin-left: 15px;
        margin-right: 15px;
    }
} 