html {
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background: #FFE13C;
    font-family: "NotoSans-B";
    font-style: normal;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

header {
    position: absolute;
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction : row-reverse;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

#btn-help {
    margin-right: 1%;
    background-color: #FFE13C;
    border:none;
    outline:none;
    cursor: pointer;
}

.input-places {
    width:100%;
    color: #B7A43E;
    border-bottom: 2px solid black;
}

.input-search {
    width: 93%;
    font-family: "NotoSans-R";
    font-style: normal;
    font-size: 1.1rem;
    background: rgba(0,0,0,0);
    border: none;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 1.5%;
    outline:none;
}

#btn-start {
    /* width: 240px;
    height: 60px; */
    width: 15rem;
    height: 3.75rem;
    background-color: black;
    color: white;
    border: none;
    box-shadow: none;
    outline: none;
    font: "NotoSans-R";
    font-size: 1.2rem;
    text-align: center;
    cursor: pointer;
}

#speech_bubble {
    visibility: hidden;
}

#search-item-li {
    display: flex;
    align-items: center;
    width: 100%;
    height: 2rem;
    background-color: white;
    color: black;
    font-family: "NotoSans-R";
    font-style: normal;
    font-size: 1.1rem;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    cursor: pointer;
}

#search-item-li:hover {
    display: flex;
    align-items: center;
    width: 100%;
    height: 2rem;
    background-color: black;
    color: white;
    font-family: "NotoSans-R";
    font-style: normal;
    font-size: 1.1rem;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    cursor: pointer;
}

#search-item {
    display: flex;
    align-items: center;
}

#search-lat {
    font-size: 0.3rem;
    color: white;
    display: none;
}

#search-lng {
    font-size: 0.3rem;
    color: white;
    display: none;
}

#selected-places {
    margin-top: 20px;
    height: 3rem;
    width: 100%; 
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#search-result {
    position: relative;
    width: 100%;
    font-family: "NotoSans-R";
    font-style: normal;
    font-size: 1.1rem;
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: 100;
}

/* 밖에 누르면 다시 안보이게 */
.places-example {
    position: relative;
    width: 100%;
    font-family: "NotoSans-R";
    font-style: normal;
    font-size: 1.1rem;
    z-index: 100;
    visibility: inherit;
}

#selected-items {
    width: 100%; 
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: auto;
    white-space: nowrap;
}

#selected-items::-webkit-scrollbar {
    background: rgba(0,0,0,0);
    height: 0.55rem;
}

#selected-items::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,0.2);
    border-radius: 10rem;
}

#selected-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.25rem;
    font-family: "NotoSans-M";
    font-style: normal;
    font-size: 0.9rem;
    border: 1px solid black;
    border-radius: 10rem;
    margin: 0.2rem;
    padding: 0.2rem;
}

#btn-remove {
    display: center;
    justify-content: center;
    align-items: center;
    height: 1.2rem;
    width: 1.2rem;
    background-color:rgba(0,0,0,0);
    border:none;
    outline:none;
    cursor: pointer;
    text-align: center;
}

#btn_mini_x {
    display: block; 
    margin: 0px auto;
}

#selected-blank {
    width: 0.5rem;
}

#total {
    width: 4rem;
}

#logo {
    cursor: pointer;
}

@media screen and (min-width: 320px) {
    .main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
    }

    .places-container {
        margin-top: 100px;
        margin-bottom: 100px;
        margin-left: 15px;
        margin-right: 15px;
        width: 100%;
    }
}

/* 태블릿 디바이스 */
@media screen and (min-width: 481px) {
    
}

/* 랩탑 및 와이드 스크린 디바이스 */
@media screen and (min-width: 1025px) {
    .main {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 40rem;
        height: 35rem;
    }

    .places-container {
        margin-top: 80px;
        margin-bottom: 80px;
        margin-left: 15px;
        margin-right: 15px;
    }

    #selected-places {
        height: 3rem;
        width: 100%; 
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
}